[Package]
version: 1
depends: 

[Product]
type: localboot
id: ica-ccleaner
name: ccsetup540
description: Pirfotm C-cleaner program. Cleans temp files and registry
advice: 
version: 540
priority: 0
licenseRequired: False
productClasses: 
setupScript: setup.opsiscript
uninstallScript: uninstall.opsiscript
updateScript: 
alwaysScript: 
onceScript: 
customScript: 
userLoginScript: 

[Changelog]
ica-ccleaner (540-1) stable; urgency=low

	* initial: created by opsi-setup-detector

 -- opsisetupdetector.exe <info@uib.de>  2/21/2018 10:22:31
